.parent {
  container-type: inline-size;
  container-name: myContainer;
}

@container myContainer (max-width: 900px) {
  .child {
    width: 50%;
    border: 2px solid maroon;
    background-color: salmon;
  }
}
